<!DOCTYPE html>
<html>
<head>

    <title>MorDis study</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/uploads/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>



<div id="main">
  <div class="inbox">
      <h2>Please select which questionnaires you'd like to complete</h2>

      <form action="/quests_app" method="post">

        <div class="item">
          <input type="checkbox" name="rwa_it" value=0>
          <p> Right-wing authoritarianism in Italian </p>
        </div>

        <div class="item">
          <input type="checkbox" name="sdo_it" value=1>
          <p> Social dominance orientation in Italian</p>
        </div>

        <div class="item">
          <input type="checkbox" name="polOr_it" value=2>
          <p> Political orientation in Italian </p>
        </div>

        <div class="item">
          <input type="checkbox" name="morDis_it" value=3>
          <p> Moral disengagement in Italian </p>
        </div>

        <div class="item">
          <input type="checkbox" name="mfq_it" value=4>
          <p> Moral foundations in Italian</p>
        </div>

        <div class="submit-div">
          <input type="submit" class="submit-butt" value="Submit">
        </div>
      </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
